include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        div(class=main?'':'wrapper_second').wrapper
            //- heeader
            header.header
                if main
                    .header__main
                        .container
                            .row.header__row
                                //- left
                                .header__left
                                    a(href='#').header__btn.menu__open
                                        +icon('menu','header__btn-svg')
                                    .header__logo
                                        +logo
                                //- right
                                .header__right
                                    .header__tel
                                        .htel
                                            a(href='tel:+7(495)766-57-54').htel__tel
                                                span.htel__wrap
                                                    +icon('tel','htel__tel-svg')
                                                    span.htel__tel-tel +7 (495) 766-57-54
                                                span.htel__txt бесплатная консультация
                                    .header__search
                                        a(href='search.html').search
                                            +icon('search','search__svg')

                    .header__fixed.header__fixed_main
                        .container
                            .hfixed
                                //- menu-btn
                                .hfixed__menu
                                    a(href='#').hfixed__btn.menu__open
                                        +icon('menu','hfixed__btn-svg')

                                //- logo
                                .hfixed__logo
                                    +logo('fixed')

                                //- socials
                                .hfixed__socials
                                    +socials('fixed')

                                //- tel
                                .hfixed__tel
                                    .header__tel
                                        .htel.htel_f
                                            a(href='tel:+7(495)766-57-54').htel__tel.htel__tel_f
                                                span.htel__wrap.htel__wrap_f
                                                    +icon('tel','htel__tel-svg htel__tel-svg_f')
                                                    span.htel__tel-tel.htel__tel-tel_f +7 (495) 766-57-54
                                                span.htel__txt.htel__txt_f бесплатная консультация

                                //- search
                                .hfixed__search
                                    a(href='search.html').search
                                        +icon('search','search__svg')
                else
                    .header__fixed
                        .container
                            .hfixed
                                //- menu-btn
                                .hfixed__menu
                                    a(href='#').hfixed__btn.menu__open
                                        +icon('menu','hfixed__btn-svg')

                                //- logo
                                .hfixed__logo
                                    +logo('fixed')

                                //- socials
                                .hfixed__socials
                                    +socials('fixed')

                                //- tel
                                .hfixed__tel
                                    .header__tel
                                        .htel
                                            a(href='tel:+7(495)766-57-54').htel__tel
                                                span.htel__wrap
                                                    +icon('tel','htel__tel-svg')
                                                    span.htel__tel-tel +7 (495) 766-57-54
                                                span.htel__txt бесплатная консультация

                                //- search
                                .hfixed__search
                                    a(href='search.html').search
                                        +icon('search','search__svg')



            //- pages
            .page
                block content

            //- footer
            footer.footer
                //- feed
                .footer__feed
                    form.ffeed
                        .container
                            .row
                                //-left
                                .ffeed__left
                                    .ffeed__title Укажите свое имя и контактный номер и мы свами свяжемся

                                //- right
                                .ffeed__right
                                    //- fields
                                    .ffeed__fields
                                        .ffeed__field
                                            input(type='text' name='fname' placeholder='Имя').ffeed__input
                                        .ffeed__field
                                            input(type='tel' name='ftel' placeholder='+7(__) ___-__-__').ffeed__input
                                        .ffeed__field
                                            button(type='submit').btn2.ffeed__submit
                                                span.btn2__text заказать звонок


                                    //- policy
                                    .ffeed__policy Заполняя данную форму Вы соглашаетесь с&nbsp;
                                        a(href='policy.html') Политикой обработки персональных данных





                //- top
                .footer__top
                    .container
                        .row
                            //- left
                            .footer__left
                                //- logo
                                .footer__logo
                                    +logo('footer')

                                //- txt
                                .footer__txt Я готова оказать вам квалифицированную юридическую помощь. С основными направлениями работы вы можете ознакомиться на данной странице сайта или на странице Услуги.

                            //- center
                            .footer__center
                                .footer__list
                                    .flist
                                        each col in flist
                                            .flist__col
                                                each i in col
                                                    a(href=i.href).flist__item= i.title

                            //- right
                            .footer__right
                                .footer__contacts
                                    .fcontacts
                                        .fcontacts__title Контакты
                                        .fcontacts__list
                                            each i in fcontacts
                                                a(href=i.href target='_blank').fcontact
                                                    +icon(i.icon, 'fcontact__svg fcontact__svg_' + i.icon)
                                                    span.fcontact__title= i.val

                            //- socials
                            .footer__socials
                                .fsocials
                                    a(href='/').fsocial
                                        +icon('vk','fsocial__svg fsocial__svg_vk')
                                    a(href='/').fsocial
                                        +icon('inst','fsocial__svg fsocial__svg_inst')
                                    a(href='/').fsocial
                                        +icon('yt','fsocial__svg fsocial__svg_yt')
                                    a(href='/').fsocial
                                        +icon('fb','fsocial__svg fsocial__svg_fb')

                //- bottom
                .footer__bottom
                    .footer__copy 2019 Адвокат Мария Матвеева. |&nbsp;
                        a(href='policy.html') Политика конфиденциальности



        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        //- menu
        nav.menu
            //- top
            .menu__top
                .container.menu__top-container
                    //- close
                    button(type='button').menu__close
                        +icon('close','menu__close-svg')

                    //- logo
                    .menu__logo
                        +logo('menu')

                    //- socials
                    .menu__socials
                        +socials('menu')

                    //- let
                    .menu__tel
                        .mtel
                            a(href='tel:+7(495)766-57-54').mtel__tel
                                span.mtel__wrap
                                    +icon('tel','mtel__tel-svg')
                                    span.mtel__tel-tel +7 (495) 766-57-54
                                span.mtel__txt бесплатная консультация

                    //- search
                    .menu__search
                        a(href='search.html').search.search_b
                            +icon('search','search__svg search__svg_b')



            //- bottom
            .menu__bottom
                .container.menu__bottom-container
                    //- left
                    .menu__left
                        .menu__nav
                            .mnav
                                each row in mnav
                                    .mnav__row
                                        each i in row
                                            a(href=i.href).mnav__item= i.title


                    //- right
                    .menu__right
                        .menu__list
                            .mlist
                                each i in mlist
                                    a(href='service.html').mlist__item
                                        span.mlist__item-img
                                            +icon(i.src,'mlist__item-pic')
                                        span.mlist__item-title= i.title






        //- popup
        .popup
            .popup__wrapper



        template#tmpl
            form.form
                button(type='button').form__close.jsCloseForm
                    +image('images/icons/close-form.svg', '','form__close-svg')

                .form__wrap
                    //- top
                    .form__top
                        .form__title Задать вопрос

                    //- bottom
                    .form__bottom
                        //- sub
                        .form__sub Мы с радостью ответим на интересующие вопросы и поможем найти оптимальное решение

                        //- fields
                        .form__fields
                            .form__field.tmplField
                                .form__field-title ФИО*
                                input(type='text' name='name' placeholder='Ваше Имя').input.form__field-input
                            .form__field.tmplArea
                                .form__field-title Напишите свой вопрос
                                textarea(name='comment' placeholder='Ваше сообщение').input.form__field-input.input_area

                        //- policy
                        .form__policy
                            | Заполняя данную форму Вы соглашаетесь с&nbsp;
                            a(href='policy.html') Политикой обработки персональных данных

                        //- submit
                        button(type='submit').btn2.form__submit
                            span.btn2__text отправить
                        input(type='hidden' name='title' value='').form__hidden


        script(src='js/vendor.min.js')
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
