mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
    if imageAlt
        - var alt = 'lorem'
    else
        - var alt = imageAlt
    img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)

mixin logo(dopClass)
    if dopClass
        - var cls = dopClass
    else
        - var cls = 'main'

    a(href='/' class='logo_' + cls).logo
        span(class='logo__left_' + cls).logo__left
            +icon('logo1','logo__1 logo__1_' + cls)
        span(class='logo__right_' + cls).logo__right
            +icon('logo2','logo__2 logo__2_' + cls)
            +icon('logo3','logo__3 logo__3_' + cls)

mixin title(title,prefix)
    div(class='title_' + prefix).title
        div(class='title__wrap_' + prefix).title__wrap
            div(class='title__title_' + prefix).title__title= title

mixin serv(img,num,title)
    a(href='service.html').serv
        //- img
        span(style='background-image:url(' + img + ')').serv__img
        //- position
        span.serv__pos
            span.serv__num= '0' + num
            span.serv__title= title
            span.serv__btn.btn
                +icon('line','serv__btn-svg')
                span.serv__btn-txt Подробнее

mixin aside(props)
    aside.aside
        //- menu
        .aside__menu
            +amenu(props)
        //- block
        .aside__block
            +image('images/icons/asideEmail.svg', '','aside__block-svg')
            .aside__block-title Нужна консультация?
            .aside__block-txt Наши менеджеры с радостью ответят на ваши вопросы
            a(href='#' data-id='1').aside__block-btn.btn2
                span.btn2__text Задать вопрос

mixin amenu(props)
    .amenu
        //- top
        .amenu__top
            .amenu__title= props.title
        .amenu__bottom
            .amenu__list
                each i in props.list
                    a(href='service.html' class=i.cls).aitem
                        span.aitem__img
                            +icon(i.icon,'aitem__svg')
                        span.aitem__title= i.title

mixin imap
    .imap
        //- left
        .imap__left
            #imap

        //- right
        .imap__right
            .imap__title Как добраться
            .imap__txt Я готова оказать вам квалифицированную юридическую помощь. С основными направлениями работы вы можете ознакомиться на данной странице сайта или на странице Услуги. Я готова оказать вам квалифицированную юридическую помощь. С основными направлениями работы вы можете ознакомиться на данной странице сайта или на странице Услуги.

mixin socials(dopClass)
    if dopClass
        - var cls = dopClass
    else
        - var cls = 'main'
    div(class='socials_'+cls).socials
        each i in socials
            a(href=i.href class='social_'+cls).social
                +icon(i.icon,'social__svg social__svg_'+i.icon+' social__svg_'+cls)

mixin slider(items, title)
    .slider
        .container.slider__container
            .slider__title= title
            .slider__slider
                //- btns
                button(type='button').slider__btn.slider__prev
                    +icon('prev','slider__btn-svg')
                button(type='button').slider__btn.slider__next
                    +icon('next','slider__btn-svg')

                //- swiper
                .swiper-container.slider__container
                    .swiper-wrapper
                        each i in items
                            a(href=i.href).swiper-slide.slide
                                //- img
                                span.slide__img
                                    span.slide__img-wrap
                                        +image(i.src,'','slide__img-img')
                                //- desc
                                span.slide__desc
                                    if i.title
                                        //- title
                                        span.slide__title= i.title
                                    if i.sub
                                        //- sub
                                        span.slide__sub= i.sub
                                    if i.exp
                                        //- exp
                                        span.slide__exp= i.exp
                                    //- txt
                                    span.slide__txt= i.txt
                                //- bottom
                                span.slide__bottom
                                    span.slide__link.btn
                                        span.btn__text.slide__link-txt Подробнее
                                        +icon('line','btn__svg slide__link-svg')

mixin imedia
    .imedia
        .container.imedia__container
            //- title
            .imedia__title
                +title('Я в сми', 'imedia')
            //- row
            .row.imedia__row
                //- left
                .imedia__left
                    a(href='https://www.youtube.com/watch?v=GhPBvgew_a8' data-fancybox).imedia__fancy
                        +image('images/content/index/media/img.jpg','','imedia__fancy-img')
                        span.imedia__watch
                            span.imedia__watch-wrap


                //- right
                .imedia__right
                    .imedia__sub Адвокат Мария Матвеева выступила в необычной для себя роли прокурора в телепрограмме телеканала НТВ “Суд присяжных”
                    .imedia__txt Женщина поссорилась с соседкой по коммунальной квартире и, почувствовав себя плохо, вызвала скорую. Поскольку соседка не унималась, женщине пришлось ждать медиков во дворе, где она встретила своего сына. Молодой человек отправил мать в больницу, а сам поднялся к ней домой поговорить со скандалисткой. Беседой на повышенных тонах парень не ограничился. Он ловко схватил немолодую даму и ударил ее головой об угол стола. Увидев, что та не подает признаков жизни, юноша с места преступления скрылся…
                    a(href='media.html').imedia__link.btn
                        span.btn__text Перейти в раздел
                        +icon('line','btn__svg')

                //- list
                .imedia__list
                    .row
                        each i,x in imedia
                            a(href='media.html').imedia__item.imitem
                                span.imitem__img
                                    +image('images/content/index/media/' + (x + 1) + '.jpg','','imitem__img-img')
                                span.imitem__title= i.title
                                span.imitem__txt= i.txt


                //- link
            a(href='media.html').imedia__all.btn2
                span.btn2__text перейти в раздел

